<html>
    <head>
        <body>
            
            <form>
                <input type='text' name='guess' />
                <input type='submit' value='Guess!' />
            </form>
            <p>
                <%= message %>
            </p>
        </body>
    </head>
</html>